---
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'CRM Implementation',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Services"
    image={{
      src: 'https://images.unsplash.com/photo-1556740714-a8395b3bf30f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzZ8fGN1c3RvbWVyJTIwYW5hbHl0aWNzfGVufDB8fDB8fHww',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Scale Your Business With <br />
      <span class="text-secondary dark:text-accent highlight"> CRM Implementation</span>
    </Fragment>

    <Fragment slot="subtitle">
        We help businesses grow by implementing CRM systems that streamline processes, improve customer relationships, and increase sales.
    </Fragment>
  </Hero>


  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="How We Manage Your CRM Implementation"
    subtitle="We help businesses grow by implementing CRM systems that streamline processes, improve customer relationships, and increase sales."
    columns={2}
    items={[
      {
        title: '1. Identify Your Needs',
        description:
          'We work with you to understand your business and identify the CRM features that will help you achieve your goals.',
        icon: 'tabler:check',
      },
      {
        title: '2. Choose the Right CRM',
        description:
          'We help you choose the right CRM system for your business, whether it’s Salesforce, HubSpot, or another platform.',
        icon: 'tabler:check',
      },
      {
        title: '3. Customize Your CRM',
        description:
          'We customize your CRM system to meet your specific needs, including custom fields, workflows, and automations.',
        icon: 'tabler:check',
      },
      {
        title: '4. Train Your Team',
        description:
          'We provide training for your team to ensure they know how to use the CRM system effectively and get the most out of it.',
        icon: 'tabler:check',
      },
      {
        title: '5. Provide Ongoing Support',
        description:
          'We provide ongoing support to help you get the most out of your CRM system and make any necessary adjustments as your business grows.',
        icon: 'tabler:check',
      },
      
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Why a CRM Can Help Your Business Scale"
    subtitle="CRM systems are essential for businesses looking to grow and scale. Here are some of the key benefits of implementing a CRM system:"
    isReversed
    items={[
      {
        title: '1. Streamline Processes:',
        description:
          'CRM systems help streamline processes by automating repetitive tasks, reducing manual data entry, and improving efficiency.',
      },
      {
        title: '2. Improve Customer Relationships:',
        description:
          'CRM systems help businesses improve customer relationships by providing a 360-degree view of customer interactions and enabling personalized communication.',
      },
      {
        title: '3. Increase Sales:',
        description:
          'CRM systems help businesses increase sales by providing insights into customer behavior, identifying sales opportunities, and enabling targeted marketing campaigns.',
      },
      {
        title: '4. Enhance Reporting and Analytics:',
        description:
          'CRM systems provide businesses with valuable insights into customer behavior, sales performance, and marketing effectiveness, enabling data-driven decision-making.',
      }
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1551288049-bebda4e38f71?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGN1c3RvbWVyJTIwYW5hbHl0aWNzfGVufDB8fDB8fHww',
      alt: '',
    }}
  >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-accent dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Steps2
  title="Reach out to us"
  subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
  id="contact"
  callToAction={{
    text: 'Contact us',
    href: 'tel:+6141445061',
  }}
  items={[
    {
      title: 'Email us',
      type: 'email',
      description: 'hello@nudgetheweb.com',
      icon: 'tabler:mail',
    },
    {
      title: 'Call us',
      type: 'phone',
      description: '+61 0414 445 061',
      icon: 'tabler:headset',
    },
    {
      title: 'Come see us',
      type: 'text',
      description: '14 Commercial Rd, Kingsgrove, NSW 2208',
      icon: 'tabler:map-pin',
    },
  ]}
/>

</Layout>
