---
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Facebook Ads',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Services"
    image={{
      src: 'https://images.unsplash.com/photo-1556155092-490a1ba16284?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Scale Your Business With <br />
      <span class="text-secondary dark:text-accent highlight"> Facebook Ads</span>
    </Fragment>

    <Fragment slot="subtitle">
        We help businesses grow by leveraging the power of Facebook Ads. Our team of experts will help you reach your target audience and drive conversions.
    </Fragment>
  </Hero>


  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="How We Manage Your Facebook Ads"
    subtitle="We take care of everything from creating your ad campaigns to monitoring their performance. Our team of experts will help you reach your target audience and drive conversions."
    columns={2}
    items={[
      {
        title: 'Ad Creation',
        description:
          'We create ads that are tailored to your target audience and designed to drive conversions.',
        icon: 'tabler:brush',
      },
      {
        title: 'Audience Targeting',
        description:
          'We help you reach your target audience by creating custom audiences based on demographics, interests, and behaviors.',
        icon: 'tabler:target',
      },
      {
        title: 'Ad Optimization',
        description:
          'We monitor the performance of your ads and make adjustments to ensure they are driving conversions.',
        icon: 'tabler:settings',
      },
      {
        title: 'Reporting',
        description:
          'We provide detailed reports on the performance of your ads so you can track your ROI.',
        icon: 'tabler:file-text',
      },
      
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Why Facebook Ads Help Your Business Scale"
    subtitle=""
    isReversed
    items={[
      {
        title: 'Reach Your Target Audience',
        description:
          'Facebook Ads allow you to target your ads to specific demographics, interests, and behaviors, so you can reach your ideal customers.',
      },
      {
        title: 'Drive Conversions',
        description:
          'Facebook Ads are designed to drive conversions, so you can turn your ad spend into revenue for your business.',
      },
      {
        title: 'Increase Brand Awareness',
        description:
          'Facebook Ads help you increase brand awareness and reach new customers, so you can grow your business.',
      },
      {
        title: 'Track Your ROI',
        description:
          'Facebook Ads provide detailed reporting on the performance of your ads, so you can track your ROI and make data-driven decisions.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1591696205602-2f950c417cb9?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MnxyeF9MdjhXaDJIa3x8ZW58MHx8fHx8',
      alt: '',
    }}
  >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-accent dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <Pricing
    title="Flexible pricing plans"
    prices={[
      {
        title: 'Basic',
        subtitle: 'Ad creative not included. Ideal for small businesses.',
        price: 1000,
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started for Free',
          href: '#',
        },
      },
      {
        title: 'Pro',
        subtitle: 'Ad creative included. Ideal for medium-sized businesses.',
        price: 2000,
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started for Free',
          href: '#',
        },
      },
      {
        title: 'Package Deal',
        subtitle: 'Combine Google Ads with other services for a discounted rate.',
        price: 'Custom',
        period: ' ',
        callToAction: {
          target: '_blank',
          text: 'Get Started for Free',
          href: '#',
        },
      },
    ]}
  />

  <Steps2
  title="Reach out to us"
  subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
  id="contact"
  callToAction={{
    text: 'Contact us',
    href: 'tel:+6141445061',
  }}
  items={[
    {
      title: 'Email us',
      type: 'email',
      description: 'hello@nudgetheweb.com',
      icon: 'tabler:mail',
    },
    {
      title: 'Call us',
      type: 'phone',
      description: '+61 0414 445 061',
      icon: 'tabler:headset',
    },
    {
      title: 'Come see us',
      type: 'text',
      description: '14 Commercial Rd, Kingsgrove, NSW 2208',
      icon: 'tabler:map-pin',
    },
  ]}
/>

</Layout>
