---
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Google Ads',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Services"
    image={{
      src: 'https://images.unsplash.com/photo-1616499370260-485b3e5ed653?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z29vZ2xlJTIwYWRzfGVufDB8fDB8fHww',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Scale Your Business With <br />
      <span class="text-secondary dark:text-accent highlight"> Google Ads</span>
    </Fragment>

    <Fragment slot="subtitle">
        We help businesses grow by creating and managing Google Ads campaigns that drive traffic, leads, and sales.
    </Fragment>
  </Hero>


  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="How We Manage Your Google Ads"
    subtitle="We take care of everything from keyword research to ad copywriting and campaign optimization."
    columns={2}
    items={[
      {
        title: 'Keyword Research',
        description:
          'We research and select the best keywords for your business to target in your Google Ads campaigns.',
        icon: 'tabler:search',
      },
      {
        title: 'Ad Copywriting',
        description:
          'We write compelling ad copy that drives clicks and conversions for your business.',
        icon: 'tabler:file-text',
      },
      {
        title: 'Campaign Optimization',
        description:
          'We continuously optimize your Google Ads campaigns to improve performance and drive better results.',
        icon: 'tabler:settings',
      },
      {
        title: 'Reporting & Analysis',
        description:
          'We provide detailed reports and analysis of your Google Ads campaigns to help you understand what’s working and what’s not.',
        icon: 'tabler:chart-bar',
      },
      
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Why Google Ads Help Your Business Scale"
    subtitle="Google Ads is one of the most effective ways to drive traffic, leads, and sales for your business."
    isReversed
    items={[
      {
        title: 'Reach Your Target Audience',
        description:
          'Google Ads allows you to target your ads to specific audiences based on their interests, demographics, and online behavior.',
      },
      {
        title: 'Drive Traffic & Leads',
        description:
          'Google Ads can help you drive traffic to your website and generate leads for your business.',
      },
      {
        title: 'Increase Sales & Revenue',
        description:
          'Google Ads can help you increase sales and revenue by driving qualified traffic to your website.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1560472354-b33ff0c44a43?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y3VzdG9tZXIlMjBhbmFseXRpY3N8ZW58MHx8MHx8fDA%3D',
      alt: '',
    }}
  >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-accent dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <Pricing
    title="Flexible pricing plans"
    prices={[
      {
        title: 'Basic',
        subtitle: 'Minimum Ad Spend: $50 per day',
        price: 750,
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started',
          href: 'tel:+6141445061',
        },
      },
      {
        title: 'Standard',
        subtitle: 'Minimum Ad Spend: $150 per day',
        price: 1500,
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started',
          href: 'tel:+6141445061',
        },
      },
      {
        title: 'Package Deal',
        subtitle: 'Combine Google Ads with other services for a discounted rate.',
        price: "Custom",
        period: ' ',
        callToAction: {
          target: '_blank',
          text: 'Get Started',
          href: 'tel:+6141445061',
        },
      },

    ]}
  />

  <Steps2
  title="Reach out to us"
  subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
  id="contact"
  callToAction={{
    text: 'Contact us',
    href: 'tel:+6141445061',
  }}
  items={[
    {
      title: 'Email us',
      type: 'email',
      description: 'hello@nudgetheweb.com',
      icon: 'tabler:mail',
    },
    {
      title: 'Call us',
      type: 'phone',
      description: '+61 0414 445 061',
      icon: 'tabler:headset',
    },
    {
      title: 'Come see us',
      type: 'text',
      description: '14 Commercial Rd, Kingsgrove, NSW 2208',
      icon: 'tabler:map-pin',
    },
  ]}
/>

</Layout>
