---
import Section from "./Section.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import { getCollection } from 'astro:content';
import CaseCard from "../ui/CaseCard.astro";

const cases = await getCollection('cases');
---

<Section id="cases">
  <SectionTitle
    sectionTitle="Case Studies"
    description="Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies"
  />
  <div class="flex flex-col lg:flex-row justify-between p-1">
    {
      cases.map((cs) => (
        <CaseCard summary={cs.data.summary} link={'/case-studies/' + cs.slug} />
      ))
    }
  </div>
</Section>
