---
import { Image } from "astro:assets";
const {title, description, button} = Astro.props;
import GridOverlay from "../ui/GridOverlay.astro";

---
<GridOverlay/>


  <div class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:py-40">
    <!-- Text column -->
    <div class="mx-auto max-w-2xl lg:mx-0 lg:shrink-0 lg:pt-8">
      <span
        class="inline-flex bg-yellow-300/10 px-3 py-1 text-sm font-semibold text-orange ring-1 ring-inset ring-yellow-600/10"
      >
        Services
      </span>

      <h1 class="mt-6 text-pretty text-5xl font-semibold tracking-normal text-gray-900 sm:text-7xl">
        {title}
      </h1>

      <p class="mt-6 text-lg font-regular text-gray-500 sm:text-xl">
        {description}
      </p>

      <div class="mt-10 flex items-center gap-x-6">
        <a href="#contact" class="btn-primary text-center text-white px-[35px] py-5 hover:text-dark">
          {button}
        </a>
      </div>
    </div>

    <!-- Image column -->
    <div class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32">
      <!-- <Image
        src={webdev}
        alt="App screenshot"
        class="w-full max-w-md shadow-2xl ring-1 ring-gray-900/10"
      /> -->
    </div>
  </div>
</div>