---
import Layout from '~/layouts/PageLayout.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Nudge The Web',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: 'tel:+6141445061',
        target: '_blank',
        icon: 'tabler:phone',
      }
      // { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Expand Your
      <span class="text-secondary dark:text-secondary highlight"> Reach</span>, Multiply Your <span class="text-secondary dark:text-secondary highlight"> Impact</span> with Nudge The Web
    </Fragment>

    <Fragment slot="subtitle">
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Ready for business.</span>
      <span>
        Nudge The Web drives business growth through targeted digital marketing and strategic operational enhancements. 
        Our dual approach, featuring both vertical and horizontal scaling, is designed to not just boost your visibility but also optimize efficiency. 
      </span>
      <span class="hidden sm:inline">
        Start your growth journey with us through a detailed audit that paves the way for smart, measurable scaling.
      </span>
        </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Steps Widget ****************** -->

    <Steps
    title="Scale Your Business with Nudge The Web"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Audit & Set KPIs</span>',
        description:
          "We start by understanding your business's unique metrics and objectives, setting the stage for tailored scaling strategies.",
        icon: 'tabler:file-text',
      },
      {
        title: 'Step 2: <span class="font-medium">Scaling Strategy Creation</span>',
        description:
          "Our team of experts will develop a comprehensive scaling strategy that leverages your strengths and addresses your weaknesses.",
        icon: 'tabler:chart-bar',
      },
      {
        title: 'Step 3: <span class="font-medium">Implementation & Monitoring</span>',
        description:
          "We will work with you to implement the strategy and monitor its progress, making adjustments as needed to ensure success.",
        icon: 'tabler:settings',
      },
      {
        title: 'Step 4: <span class="font-medium">Optimization & Growth</span>',
        description:
          "As your business grows, we will continue to optimize your strategies to ensure continued success and growth.",
        icon: 'tabler:arrow-right-circle',
      },
      {
        title: 'Celebrate!',
        description:
          'Watch your business grow and celebrate your success with Nudge The Web!',
        icon: 'tabler:confetti',
      }
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?w=800&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2hpdGVib2FyZHxlbnwwfDF8MHx8fDA%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />


  <!--Content Widget -->

  <Content
    isReversed
    tagline="Inside our core principles"
    title="Scaling Strategies for Your Business"
    items={[
      {
        title: 'Digital Advertising',
        description:
          'Leverage the power of platforms like Facebook and Google Ads to reach your target audience and drive conversions.',
      },
      {
        title: 'System Multiplication',
        description:
          'Expand your team’s capabilities by automating key systems, allowing you to scale your business efficiently.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Vertical Scaling: Amplify Your Growth</h3>
      By leveraging digital advertising and system multiplication, we aim to enhance your business's core strengths, propelling you to new heights in your market.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-accent dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Operational Enhancements',
        description:
          'Streamline your business operations through automation and system optimization, saving time and resources.',
      },
      {
        title: 'Customer Satisfaction',
        description:
          'Enhance your customer experience through targeted strategies that drive satisfaction and loyalty.',
      }
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1556742502-ec7c0e9f34b1?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGN1c3RvbWVyc3xlbnwwfDF8MHx8fDA%3D',
      alt: 'Blueprint Image',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Horizontal Scaling: Optimize Your Efficiency</h3>
    By focusing on operational enhancements and customer satisfaction, we help you optimize your business's efficiency and drive growth through customer loyalty.
  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-accent dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- Features Widget *************** -->

  <Features
    id="kpis"
    tagline="KPIs"
    title="Specific numbers we can help you scale"
    subtitle="Our team of experts will help you identify and optimize the key performance indicators that matter most to your business."
    items={[
      {
        title: 'Revenue',
        description:
          'The lifeblood of your business. We help you increase revenue through targeted marketing and operational enhancements.',
        icon: 'tabler:currency-dollar',
      },
      {
        title: 'Conversion Rate',
        description:
          'The percentage of visitors who complete a desired action. We help you increase this metric through targeted marketing strategies.',
        icon: 'tabler:percentage',
      },
      {
        title: 'Customer Acquisition Cost',
        description:
          'The cost of acquiring a new customer. We help you reduce this metric through efficient marketing strategies.',
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Customer Lifetime Value',
        description:
          'The total revenue a customer generates over their lifetime. We help you increase this metric through customer retention strategies.',
        icon: 'tabler:users',
      },
      {
        title: 'Customer Retention Rate',
        description:
          'The percentage of customers who continue to use your product or service. We help you increase this metric through customer retention strategies.',
        icon: 'tabler:repeat-once',
      },
      {
        title: 'Reviews',
        description:
          'The number of positive reviews your business receives. We help you increase this metric through customer satisfaction strategies.',
        icon: 'tabler:star',
      },
      {
        title: 'Time Spent on Tasks',
        description:
          'The amount of time your employees spend on tasks. We help you reduce this metric through operational efficiency strategies.',
        icon: 'tabler:clock',
      },
      {
        title: 'Jobs Completed',
        description:
          'The number of jobs your employees complete. We help you increase this metric through operational efficiency strategies.',
        icon: 'tabler:check',
      }
      
    ]}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Revenue',
        description:
          'The lifeblood of your business. We help you increase revenue through targeted marketing and operational enhancements.',
        icon: 'flat-color-icons:money-transfer',
      },
      {
        title: 'Conversion Rate',
        description:
          'The percentage of visitors who complete a desired action. We help you increase this metric through targeted marketing strategies.',
        icon: 'flat-color-icons:conversion-rate',
      },
      {
        title: 'Customer Acquisition Cost',
        description:
          'The cost of acquiring a new customer. We help you reduce this metric through efficient marketing strategies.',
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Customer Lifetime Value',
        description:
          'The total revenue a customer generates over their lifetime. We help you increase this metric through customer retention strategies.',
        icon: 'tabler:users',
      },
      {
        title: 'Customer Retention Rate',
        description:
          'The percentage of customers who continue to use your product or service. We help you increase this metric through customer retention strategies.',
        icon: 'tabler:repeat-once',
      },
      {
        title: 'Reviews',
        description:
          'The number of positive reviews your business receives. We help you increase this metric through customer satisfaction strategies.',
        icon: 'tabler:star',
      },
      {
        title: 'Time Spent on Tasks',
        description:
          'The amount of time your employees spend on tasks. We help you reduce this metric through operational efficiency strategies.',
        icon: 'tabler:clock',
      },
      {
        title: 'Jobs Completed',
        description:
          'The number of jobs your employees complete. We help you increase this metric through operational efficiency strategies.',
        icon: 'tabler:check',
      }
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Here are some of the most common questions we get asked about our services. If you have any other questions, feel free to reach out."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What is Nudge The Web?',
        description:
          "Nudge The Web is a Sydney based digital marketing and operational enhancement agency that helps businesses grow through targeted marketing and strategic scaling. Our team of experts works with you to identify key performance indicators and optimize your business's growth potential.",
      },
      {
        title: 'What services does Nudge The Web offer?',
        description:
          'We offer a range of services designed to help your business grow, including digital marketing, operational enhancements, and strategic scaling. Our team of experts will work with you to identify key performance indicators and develop a tailored strategy to help you achieve your business goals.',
      },
      {
        title: 'What is the process for working with Nudge The Web?',
        description:
          'The first step in working with Nudge The Web is to schedule a consultation with one of our experts. During this consultation, we will discuss your business goals and objectives and develop a tailored strategy to help you achieve them. Once we have a clear understanding of your business needs, we will work with you to implement the strategy and help your business grow.',
      },
      {
        title: 'How can I get started with Nudge The Web?',
        description:
          'To get started with Nudge The Web, simply schedule a consultation with one of our experts. During this consultation, we will discuss your business goals and objectives and develop a tailored strategy to help you achieve them. Once we have a clear understanding of your business needs, we will work with you to implement the strategy and help your business grow.',
      },
      
    ]}
  />

  <!-- Stats Widget ****************** -->
<!-- 
  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <Steps2
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    id="contact"
    callToAction={{
      text: 'Contact us',
      href: 'tel:+6141445061',
    }}
    items={[
      {
        title: 'Email us',
        type: 'email',
        description: 'hello@nudgetheweb.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Call us',
        type: 'phone',
        description: '+61 0414 445 061',
        icon: 'tabler:headset',
      },
      {
        title: 'Come see us',
        type: 'text',
        description: '14 Commercial Rd, Kingsgrove, NSW 2208',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
