---
import MainLayout from "../../layouts/MainLayout.astro";
import CaseCard from "../../components/ui/CaseCard.astro";
import { getCollection } from 'astro:content';

const caseStudies = await getCollection('cases');
---
<MainLayout title="Case Studies">
    <main class="space-y-20">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-3">
            <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
                <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold">Case Studies</h2>
                <p class="font-light sm:text-xl">Explore real-life examples of our proven digital marketing success.</p>
            </div>
            <div class="grid gap-8 lg:grid-cols-3">
                {caseStudies.map(cs => (
                    <CaseCard summary={cs.data.summary} link={'/case-studies/' + cs.slug} />
                ))}
            </div>
        </div>
    </main>
</MainLayout>
